@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000311}}
body {
  padding-top: 44px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000315}}
.wrapper {
  min-height: 100%;
  position: relative;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/lib\/_mixins\.scss}line{font-family:\0000315}}
.wrapper:before, .wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/lib\/_mixins\.scss}line{font-family:\0000322}}
.wrapper:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000322}}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/lib\/_mixins\.scss}line{font-family:\0000315}}
.container:before, .container:after {
  display: table;
  content: "";
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/lib\/_mixins\.scss}line{font-family:\0000322}}
.container:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000329}}
.container-fluid {
  padding-right: 36px;
  padding-left: 36px;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/lib\/_mixins\.scss}line{font-family:\0000315}}
.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/lib\/_mixins\.scss}line{font-family:\0000322}}
.container-fluid:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000335}}
.container-fixed-old {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  width: 950px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/lib\/_mixins\.scss}line{font-family:\0000315}}
.container-fixed-old:before, .container-fixed-old:after {
  display: table;
  content: "";
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/lib\/_mixins\.scss}line{font-family:\0000322}}
.container-fixed-old:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000340}}
#content {
  padding-bottom: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000346}}
.public-content .emphisis-section {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000349}}
.public-content .emphasize-high {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px !important;
  margin-top: -6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000356}}
.public-content .image-link {
  display: block;
  margin-bottom: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000361}}
.public-content {
  *zoom: 1;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/lib\/_mixins\.scss}line{font-family:\0000315}}
.public-content:before, .public-content:after {
  display: table;
  content: "";
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/lib\/_mixins\.scss}line{font-family:\0000322}}
.public-content:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000365}}
.public-content > section {
  width: 950px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 52px;
  display: block;
  zoom: 1;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000373}}
.public-content > section:first-child {
  padding-top: 52px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000378}}
hr {
  border-color: #ECECEC;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000381}}
.content-divider {
  position: absolute;
  width: 1px;
  right: -19px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000387}}
.content-divider.main {
  top: 84px;
  bottom: 84px;
  height: auto;
  background: #E2E2E2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\0000393}}
.content-divider.top {
  height: 84px;
  top: 0;
  background: transparent url("/img/content_divider_top.png") no-repeat right top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003100}}
.content-module .module-inner {
  padding: 18px;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 6px #C1C1C1;
  -moz-box-shadow: 0 0 6px #C1C1C1;
  box-shadow: 0 0 6px #C1C1C1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003112}}
body #mygengo {
  background-color: #f4f4f4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003115}}
body #page-content {
  margin: 0;
  padding-top: 44px;
  padding-bottom: 110px;
  /* Height of the footer */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003120}}
body #v1-wrap {
  margin: 0 auto;
  min-width: 1170px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003123}}
body #v1-wrap > h1 {
  font-size: 26px;
  padding-top: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003127}}
body #v1-wrap > aside > h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
  padding-top: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003133}}
body #v1-wrap > div {
  background-color: white;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.075);
  float: none;
  margin: 36px;
  min-width: 1054px;
  overflow: hidden;
  padding: 35px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003144}}
body #v1-wrap > div > h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003151}}
body #v1-wrap > div > p {
  font-size: 13px;
  line-height: 1.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003156}}
body #v1-wrap > .sidebar {
  margin-left: 0;
  min-width: 216px;
  width: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003161}}
body #v1-wrap > aside.sidebar {
  margin: 0 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003165}}
body #v1-wrap > aside.sidebar ~ h1 {
  margin-left: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003168}}
body #v1-wrap > aside.sidebar ~ div {
  margin: 36px;
  min-width: 676px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003173}}
body #show-metrics {
  background-color: transparent;
  border: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003177}}
body #show-metrics h2 {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003183}}
.sidebar .module {
  margin-bottom: 36px;
  width: 294px;
}

/*
 sub side menu list
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003192}}
.nav-list {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003194}}
.nav-list.sidebar {
  float: left;
  margin-top: 2px;
  padding: 0;
  width: 216px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003201}}
.nav-list > li > a,
.nav-list .nav-header {
  margin: 0;
  padding: 6px 0 6px 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003205}}
.nav-list > li > a {
  color: #756b67;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003208}}
.nav-list > li > a:hover {
  background-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003212}}
.nav-list .nav-header {
  color: #9b928d;
  font-weight: normal;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003219}}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: white;
  border-left: 3px solid #1cad7e;
  color: #4c4643;
  font-weight: bold;
  padding-left: 33px;
  text-shadow: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003228}}
.nav-list > .active .nav-list > li > a {
  color: #756b67;
  padding-left: 54px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003233}}
.nav-list > .active .nav-list > .active > a,
.nav-list > .active .nav-list > .active > a:hover {
  background-color: inherit;
  border-left: none;
  color: #4c4643;
  font-weight: bold;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003247}}
.area-translator-team .nav-list > .active > a,
.area-translator-team .nav-list > .active > a:hover {
  border-color: #98d7cc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003253}}
.box {
  background-color: white;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.075);
  padding: 36px;
  position: relative;
  margin-bottom: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003263}}
.box.arrow:after, .box.arrow:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003272}}
.box.arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: white;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003279}}
.box.arrow:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #000;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/toshipon\/sandbox\/workspace\/bootstrap\/jericho\/scss\/custom\/layouts\.scss}line{font-family:\00003288}}
.box-gray {
  background-color: #f4f4f4;
  border: 1px solid #DBDBDB;
  border-radius: 1px;
  overflow: hidden;
  padding: 36px;
  position: relative;
  margin-bottom: 36px;
}
