@import "compass";
@import "../lib/variables";
@import "./variables";
@import "../lib/mixins";
@import "./mixins";

// BUTTON STYLES
// -------------


// Base styles
// --------------------------------------------------

// Core
.btn {
  display: inline-block;
  position: relative;
  @include ie7-inline-block();
  padding: 5px  24px 5px;
  margin-bottom: 0; // For input.btn
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 30px;
  *line-height: 32px;
  text-align: center;
  // text-shadow: 0px -2px 0px white;
  vertical-align: middle;
  // cursor: pointer;
  // border: 1px solid $btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  // border-bottom-color: darken($btnBorder, 10%);
  @include border-radius(3px);
  @include ie7-restore-left-whitespace(); // Give IE7 some love
 /*  @include box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)"); */
}

.btn:hover {
  color: $green;
}

// Focus state for keyboard and accessibility
.btn:focus {
  @include tab-focus();
}

// Active state
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  @include box-shadow("inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05)");
}

// Disabled state
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: darken($white, 10%);
  background-image: none;
  @include opacity(65);
  @include box-shadow(none);
}


// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  font-size: $baseFontSize+2;
  padding: $baseLineHeight/2  $baseLineHeight $baseLineHeight/2;
  @include border-radius(5px);
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
// For the slightly over weight button ;)
.btn-chubby {
 
  padding: 8px 24px 8px;
}
// Small
.btn-small {
  padding: .375em .75em .4375em;
  font-size: $baseFontSize - 2;
  line-height: $baseLineHeight - 2;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}

// Mini
.btn-mini {
  padding: 2px 6px;
  font-size: $baseFontSize - 4px;
  line-height: $baseLineHeight - 4px;
}
// Button Icons
// --------------------------------------------------
.btn [class^="icon-"],
.btn [class*=" icon-"]{
  display: inline-block;
  width: 22px;
  height: 22px;
  @include ie7-restore-right-whitespace();
  line-height: 22px;
  vertical-align: text-top;
  /* background-position: 14px 14px; */
  background-repeat: no-repeat;
  margin-top: 1px;
  margin-right: 7px;
  
}
.btn-group{
  .btn{
    margin-left: 8px;

  }
  .btn:first-child{
    margin-left:0;
  }
}

// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-primary,
.btn-primary:hover,
.btn-core,
.btn-core:hover,
.btn-warning,
.btn-warning:hover,
.btn-google,
.btn-google:hover {
  color: $white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
// Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-core.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------

.btn {
  // reset here as of 2.0.3 due to Recess property order
  @include buttonBackground($btnBackground, $btnBackgroundHighlight, $green, $grayDark);
  border-color: #ccc;
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
  color: $gray;

  &:hover {
    @include buttonBackground(darken($btnBackground,4%), darken($btnBackgroundHighlight,4%), $green, $grayDark);
  }
}
.btn-primary {
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}
.btn-primary:hover{
	@include buttonBackground(darken($btnPrimaryBackground,3), darken($btnPrimaryBackgroundHighlight,3%));
}
.btn-core {
  @include buttonBackground($btnCoreBackground, $btnCoreBackgroundHighlight);
}
.btn-core:hover{
	@include buttonBackground(darken($btnCoreBackground,4%), darken($btnCoreBackgroundHighlight,4%));
}
.btn-google,.btn-google:hover {
  @include buttonBackground($btnGoogleBackgroundHighlight, $btnGoogleBackgound );
  @include darkerBorderColors($btnGoogleBackgound );
}
.btn-google:hover{
  @include buttonBackground(darken($btnGoogleBackgroundHighlight,4), darken($btnGoogleBackgound,4) );
  @include darkerBorderColors(darken($btnGoogleBackgound,4) );
}
.btn-facebook {
  @include buttonBackground($btnFacebookBackgroundHighlight, $btnFacebookBackgound);
   @include darkerBorderColors($btnFacebookBackgound );
}
.btn-facebook:hover {
  @include buttonBackground(darken($btnFacebookBackgroundHighlight, 4), darken($btnFacebookBackgound, 4));
   @include darkerBorderColors(darken($btnFacebookBackgound, 4));
}
.btn-primary-worker{
	 @include buttonBackground(#8DD3C7,#70B6AA);  
}
.btn-primary-worker:hover{
	 @include buttonBackground(darken(#8DD3C7, 5),darken(#70B6AA,5));  
}
// rarely use this button. 

.btn-primary-alt {
  @include buttonBackground($btnAltBackground, $btnAltBackgroundHighlight);
}
.btn-primary-alt:hover{
	@include buttonBackground(darken($btnAltBackground,4%), darken($btnAltBackgroundHighlight,4%));
}

// this is the button style for the language selector
.language-btn{
  padding: 4px 12px 2px 10px;
  font-size: 13px; 
}
.language-btn.btn .caret {
  margin-top: 10px;
  margin-left: 8px;
  margin-right: -4px;
}
.icon-lang{
  background: transparent url(./img/gengo-navbar/navigation_sprite.png) no-repeat -366px -74px;
  margin-top: 0px !important;
  margin-right: 0px !important;
  
}
.icon-nav-order{
  background: transparent url(./img/gengo-navbar/navigation_sprite.png) no-repeat -365px -124px;
  margin-top: 0px !important;
}
// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 2px;
  *padding-bottom: 2px;
  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}
input[type="file"] {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.btn-full{
	width: 100%;
}
button.close{
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

// Link buttons
// --------------------------------------------------

// Make a button look and behave like a link
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  padding: 0px;
  background-color: transparent;
  background-image: none;
  @include box-shadow(none);
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: $linkColor;
  @include border-radius(0);
}
.btn-link:hover,
.btn-link:focus {
  color: $linkColorHover;
  text-decoration: underline;
  background-color: transparent !important;
  background-image: none;
  border: none;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: $grayDark;
  text-decoration: none;
}