@import "compass";
@import "../lib/variables";
@import "./variables";
@import "../lib/mixins";
@import "./mixins";


footer {position:relative;}

.footer{
	// this mixed with teh wrapper will keep the footer fixed to the bottom of the page.
	position:absolute;
   	bottom:0;
   	width:100%;
	margin:  0 36px;	
   	height: $footerHeight;
	font-size: $baseFontSize -2;
	padding-top: $baseLineHeight;
	margin-bottom: 0-$baseLineHeight;
	a{
			color: $gray;
			}
	.nav{
		li a{
			color: $gray;
			font-weight: 300;
			font-size: 14px;
		}
		li a:hover{	
			color: #4D4843;
			text-decoration: underline;
		}
	}
	.facebook{
		padding-bottom:0;
		span{
			margin: 0 5px 0 0;
			display: inline-block;
			width: 23px;
			height: 24px;
			background: url("http://d1mvomz2rusyi1.cloudfront.net/048a98b/mygengo_v4/images/home/home-page-icons/social_media_icons.png") left top;
		}
	}
	.twitter  {
		padding-bottom:0;
		span{
		margin: 0;
		display: inline-block;
		width: 23px;
		height: 24px;
		background: url("http://d1mvomz2rusyi1.cloudfront.net/048a98b/mygengo_v4/images/home/home-page-icons/social_media_icons.png") right top;
		}
	}
	
	.copyright{
		font-weight: 300;
		font-size: 12px;
		margin-top: 24px;
		text-align: right;
		clear: both;
	}
	.text-link{
		padding-left:12px;
		a {
			text-decoration: underline;
		}
		a:hover {
			text-decoration: none;
		}
	}
	// remove the margin bottom from any row
	.row{margin-bottom:0;}
	.dropdown-menu{
		top: auto;
		bottom: 100%;
	}
	.footnote{
		max-width: 600px;
		margin: 10px 18px 0;
		float: left;
	}
	.btn-group{
		position: relative;
		float: left;

	}
}
.footer.footer-simple{
	background-color: transparent;
	height: 60px;
	
}

