@import "compass";
@import "../lib/variables";
@import "./variables";
@import "../lib/mixins";
@import "./mixins";

//
// Layouts
// Fixed-width and fluid (with sidebar) layouts
// --------------------------------------------
body{
  padding-top: $navbarHeight;
}

.wrapper {
   min-height:100%;
   position:relative;
   @include clearfix();
}

// Container (centered, fixed-width layouts)
.container {
  margin-right: auto;
  margin-left: auto;
  @include clearfix(); 
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-right: $gridGutterWidth;
  padding-left: $gridGutterWidth;
  @include clearfix();
}
// get rid wehn we dont mix old and new 
.container-fixed-old {
  @include container-fixed();
	width: 950px;

}
#content{
	// padding bottom for vertical space a nd to keep footer at the b ottom of the page. 
	padding-bottom: $baseLineHeight;
}
// Styles for the public pages.
.public-content{
  .emphisis-section{
     text-align: center;
  }
  .emphasize-high{
    font-size: 24px;
    font-weight: 300;
    // remove the important if we dont have any of the old code left.
    line-height: 36px !important;
    margin-top: -6px;
  }
  .image-link{
    display: block;
    margin-bottom: 24px;
  }
}
.public-content{
    @include clearfix();
    display:block;
}
.public-content > section {
  width: 950px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 52px;
  display:block;
  zoom:1;
  clear:both;
  &:first-child{
    padding-top: 52px;
  }
}

hr{
  border-color: #ECECEC;
}
.content-divider{
	position: absolute;
	width: 1px;
	right:-19px;
	
}
.content-divider.main{
		top: 84px;
		bottom: 84px; 
		height: auto;
		background: #E2E2E2;
}
.content-divider.top{
		height: 84px;
		top:0;
		background: transparent url('/img/content_divider_top.png') no-repeat right top;
}

.content-module{
  .module-inner{
  padding: 18px;
  background-color: white;
  @include border-radius(3px);
  -webkit-box-shadow: 0 0 6px #C1C1C1;
  -moz-box-shadow: 0 0 6px #C1C1C1;
  box-shadow: 0 0 6px #C1C1C1;

  }
}

body {
  #mygengo {
    background-color: $grayLight;
  }
  #page-content {
    margin: 0;
    padding-top:44px;
    padding-bottom:110px;   /* Height of the footer */
  }
  #v1-wrap {
    margin: 0 auto;
    min-width: 1170px;
    > h1 {
      font-size: 26px;
      padding-top: 24px;
    }
    > aside > h2 {
      font-size: 26px;
      font-weight: 600;
      line-height: 34px;
      padding-top: 12px;
    }
    > div {
      background-color: $white;
      border: 1px solid #DBDBDB;
      border-radius: 3px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.075);
      float: none;
      margin: 36px;
      min-width: 1054px;
      overflow: hidden;
      padding: 35px;
      position: relative;
      > h2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 10px;
        margin-top: 0;
      }
      > p {
        font-size: 13px;
        line-height: 1.5;
      }
    }
    > .sidebar {
      margin-left: 0;
      min-width: 216px;
      width: inherit;
    }
    > aside.sidebar {
      margin: 0 36px;
      
    }
    > aside.sidebar ~ h1 {
      margin-left: 36px;
    }
    > aside.sidebar ~ div {
      margin: 36px;
      min-width: 676px;
    }
  }
  #show-metrics {
    background-color: transparent;
    border: none;
    padding: 0;
    h2 {
      margin-bottom: 0;
    }
  }
}

.sidebar .module {
  margin-bottom: 36px;
  width: 294px;
}


/*
 sub side menu list
*/
.nav-list {
  padding: 0;
  &.sidebar {
    float: left;
    margin-top: 2px;
    padding: 0;
    width: 216px;
  }
  > li > a,
  .nav-header {
    margin: 0;
    padding: 6px 0 6px 36px;
  }
  > li > a {
    color: lighten($textColor, 15%);
    font-size: 14px;
    &:hover {
      background-color: $white;
    }
  }
  .nav-header {
    color: lighten($textColor, 30%);
    font-weight: normal;
    text-shadow: none;
  }
  > .active {
    > a,
    > a:hover {
      background-color: $white;
      border-left: 3px solid $green;
      color: $textColor;
      font-weight: bold;
      padding-left: 33px;
      text-shadow: none;
    }
    .nav-list {
      > li > a {
        color: lighten($textColor, 15%);
        padding-left: 54px;
      }
      > .active > a,
      > .active > a:hover {
        background-color: inherit;
        border-left: none;
        color: $textColor;
        font-weight: bold;
        text-shadow: none;
      }
    }
  }
}

.area-translator-team .nav-list {
  > .active {
    > a,
    > a:hover {
      border-color: $lightBlue;
    }
  }
}

.box {
  background-color: $white;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.075);
  // overflow: hidden;
  padding: 36px;
  position: relative;
  margin-bottom: 28px;

  &.arrow:after, &.arrow:before {
      left: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }
  &.arrow:after {
      border-color: rgba(255, 255, 255, 0);
      border-left-color: white;
      border-width: $popoverArrowOuterWidth;
      top: 50%;
      margin-top: -$popoverArrowOuterWidth;
  }
  &.arrow:before {
      border-color: rgba(0, 0, 0, 0);
      border-left-color: #000;
      border-width: $popoverArrowOuterWidth;
      top: 50%;
      margin-top: -$popoverArrowOuterWidth;
  }
}

.box-gray {
  background-color: $grayLight;
  border: 1px solid #DBDBDB;
  border-radius: 1px;
  overflow: hidden;
  padding: 36px;
  position: relative;
  margin-bottom: 36px;
}
