@import "compass";
@import "lib/variables";
@import "variables";
@import "lib/mixins";
@import "mixins";

.area-translator-team a.ui_btn{
	color: #4D4843;
}
.area-translator-team a.primary_btn{
	color: $white;
}
#customer.express-order-translation #translate{ 
	width:950px;
	margin-left: auto;
	margin-right: auto;
	min-width: 950px;
}
.search-jobs{
	margin-bottom: 30px;
	@include clearfix();
}
#customer #translate, #translator-team #translate{
	min-height: 400px;
}

@mixin list-bg-bd-color($background, $border, $hoverBackground, $hoverBorder) {
	background-color: $background;
	border-color: $border;
	&:hover {
		background-color: $hoverBackground;
		border-color: $hoverBorder;
	}
}
#customer .job_list {
	.order{
		&.available {
			@include list-bg-bd-color($availableBackground, $availableBorder, $availableHoverBackground, $availableHoverBorder);
		}
		&.reviewable {
			@include list-bg-bd-color($reviewableBackground, $reviewableBorder, $reviewableHoverBackground, $reviewableHoverBorder);
		}
		&.approved {
			@include list-bg-bd-color($normalBackground, $normalBorder, $normalHoverBackground, $normalHoverBorder);
		}
		&.completed {
			@include list-bg-bd-color($normalBackground, $normalBorder, $normalHoverBackground, $normalHoverBorder);
		}
		&.rejected {
			@include list-bg-bd-color($rejectedBackground, $rejectedBorder, $rejectedHoverBackground, $rejectedHoverBorder);
		}
	}
}
#translator-team .job_list {
	.order{
		&.available {
			@include list-bg-bd-color($normalBackground, $normalBorder, $normalHoverBackground, $normalHoverBorder);
		}
		&.reviewable {
			@include list-bg-bd-color($reviewableBackground, $reviewableBorder, $reviewableHoverBackground, $reviewableHoverBorder);
		}
		&.approved {
			@include list-bg-bd-color($normalBackground, $normalBorder, $normalHoverBackground, $normalHoverBorder);
		}
		&.completed {
			@include list-bg-bd-color($normalBackground, $normalBorder, $normalHoverBackground, $normalHoverBorder);
		}
		&.rejected {
			@include list-bg-bd-color($rejectedBackground, $rejectedBorder, $rejectedHoverBackground, $rejectedHoverBorder);
		}
	}
}

// NAVBAR (FIXED AND STATIC)
// -------------------------


// COMMON STYLES
// -------------
$elementHeight: 20px;
.navbar {
  // Fix for IE7's bad z-indexing so dropdowns don't appear below content that follows the navbar
  *position: relative;
  *z-index: 2;
  overflow: visible;
  margin-bottom: $baseLineHeight*1.5;
  font-size: 13px;
}

// Gradient is applied to it's own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  min-height: $navbarHeight;
  padding-left:  20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: $navbarBackground;
  @include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
  border-bottom: 1px solid #CCCCCC;
  
  /*
  .border-radius(4px);q */
  @include box-shadow("0 0px 4px rgba(0,0,0,.15)");

  .container-fluid {
    min-width: 1198px;
    padding: 0;
    *zoom: 1;
    &:before,
    &:after {
      display: table;
      line-height: 0;
      content: "";
    }
    &:after {
      clear: both;
    }
  }
}

// Set width to auto for default container
// We then reset it for fixed navbars in the #gridSystem mixin

.navbar .container {
  width: auto;
}
.navbar .container-fixed{
  @include container-fixed();
  width: 1044px;
}
.navbar .container-fixed-old{
  @include container-fixed();
  width: 950px;
}
// for now we arent using media queries so set to fixed width

// Override the default collapsed state
.nav-collapse.collapse {
  height: auto;
}


// Brand, links, text, and buttons
.navbar {
  color: $navbarText;
  // Hover and active states
  h1{ margin: -2px 0 0 18px;
font-size: 14px;

float: left;
span{font-weight: 400;}
}
  .brand:hover {
    text-decoration: none;
  }
  // Website or project name
  .brand {
    float: left;
    display: block;
    // Vertically center the text given $navbarHeight
    
    // padding-left: $baseLineHeight;
    // margin-left: -$baseLineHeight; // negative indent to left-align the text down the page
    font-weight: 400;
    font-size: 20px;
    // line-height: 1;
    color: $navbarBrandColor;

    background-color: $green;
    height: $navbarHeight;
    line-height: 1.9;
    margin-left: 0;
    padding: 0 20px;
  }
  .brand img{
    height: 23px;
    width: 64px;
    margin-top: $navbarHeight/4;
    margin-right: $navbarHeight/2;
    vertical-align: middle;
  }
  .brand.worker{
    height:19px;
    margin-left: 0;
    padding-left: 18px;
    padding-right: 0;
    width: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #88BFB6 #8FCCC2 #88BFB6;
    @include gradient-vertical(#9BD9CE, #8ECCC2); 
    
    //force to overlap its parent, allowing border color change. 
    position: relative;
    bottom: -1px;
    z-index: 100;
    margin-top: -1px;
    padding-bottom: 24px-1px;
  }
  .icon-worker{
	  display: inline-block;
	  width: 32px;
	  margin-left: 1px;
    margin-top: 4px;
	  height: 31px;
	  text-align: center;
	  background: transparent url("./img/gengo-navbar/worker-icon.png") no-repeat;
  }
  // Plain text in topbar
  .navbar-text {
    float: right;
    margin-bottom: 0;
    line-height: 60px;
    color: lighten($gray,30%);
    position: relative;
  }
  // Janky solution for now to account for links outside the .nav
  .navbar-link {
    color: $linkColor;
    &:hover {
      color: $linkColorHover;
    }
  }
  // Buttons in navbar
  .btn,
  .btn-group {
    @include navbarVerticalAlign(30px); // Vertically center in navbar

    &.order {
      padding: 4px 12px 0px 6px;
      margin: 7px 9px 7px;
    }
 
  }
  .btn-group .btn {
    margin: 0; // then undo the margin here so we don't accidentally double it
  }
  .row{
    margin-bottom:0;
  }
}

// Navbar forms
.navbar-form {
  margin-bottom: 0; // remove default bottom margin
  @include clearfix();
  input,
  select,
  .radio,
  .checkbox {
    @include navbarVerticalAlign(30px); // Vertically center in navbar
  }
  input,
  select {
    display: inline-block;
    margin-bottom: 0;
  }
  input[type="image"],
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 3px;
  }
  .input-append,
  .input-prepend {
    margin-top: 6px;
    white-space: nowrap; // preven two  items from separating within a .navbar-form that has .pull-left
    input {
      margin-top: 0; // remove the margin on top since it's on the parent
    }
  }
}

// Navbar search
.navbar-search {
  display: none;
  position: relative;
  float: left;
  @include navbarVerticalAlign(28px); // Vertically center in navbar
  margin: 8px -8px 0 4px;
  .search-query {
    padding: 4px 9px;
    #font {
    	@inclue sans-serif(13px, normal, 1);
    }
    color: $textColor;
    background-color: $navbarSearchBackground;
    border: 1px solid $navbarSearchBorder;
    border-radius: 3px 0 0 3px;
    height: 20px;
    @include box-shadow("inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15)");
    @include transition(none);

    @include placeholder($navbarSearchPlaceholderColor);

    // Focus states (we use .focused since IE7-8 and down doesn't support :focus)
    &:focus,
    &.focused {
      @include box-shadow(0 0 3px rgba(0,0,0,.15));
      outline: 0;
    }
  }
  &.input-append .btn {
    background-image: url(./img/gengo-navbar/navigation_sprite.png);
    background-position: -206px -168px;
    background-repeat: no-repeat;
    border-radius: 0 3px 3px 0;
    height: 20px;
    margin: 0 0 0 -5px;
    padding: 4px 9px;
    width: 28px;
  }
  .dropdown-menu {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 0;
  }
}
.navbar .nav-input-search {
  .navbar-search {
    display: block;
  }
  > a {
    display: none;
  }
}


// FIXED NAVBAR
// ------------

// Shared (top/bottom) styles
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindexFixedNavbar;
  margin-bottom: 0; // remove 18px margin for static navbar
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-left:  0;
  padding-right: 0;
  @include border-radius(0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  @include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth);
}

// Fixed to top
.navbar-fixed-top {
  top: 0;
}

// Fixed to bottom
.navbar-fixed-bottom {
  bottom: 0;
}

// NAVIGATION
// ----------

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.navbar .nav.pull-right{
  float: right; // redeclare due to specificity

}
.navbar .navbar-text.pull-right{
  float: right; 
}
.navbar .nav > li {
  display: block;
  float: left;
}

// Links
.navbar .nav > li {
  > a {
    float: none;
    // Vertically center the text given $navbarHeight
    padding: (($navbarHeight - $elementHeight) / 2 + 1) 30px (($navbarHeight - $elementHeight) / 2 - 1);
    line-height: 19px;
    color: $navbarLinkColor;
    font-size: $navFontSize;
    text-decoration: none;
    &:hover {
      @include gradient-vertical($grayLight, $grayLight)
    }
    &.disabled,
    &.disabled:hover {
      @include gradient-vertical($white, $white)
    }
  }
}
.navbar .nav .icon-btn{
  font-size: 24px;
  padding: 20px 4px 17px;
}

// Buttons
.navbar .btn {
  display: inline-block;
  /* padding: 4px 10px 4px; */
  // Vertically center the button given $navbarHeight
  $elementHeight: 20px;
  margin: (($navbarHeight - $elementHeight) / 4 + 1) 5px (($navbarHeight - $elementHeight) / 4 + 1);
  line-height: $elementHeight;
  display: inline-block;
  font-size: 13px;
  padding: 4px 12px 0px;
}
.navbar .btn-group {
   position: relative;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    
}
.btn-toolbar {
    float:right;
}
.btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.navbar .btn-group .btn{
  margin-right: 12px;
  
}
.btn-group.pull-right{
  text-align: right;
  margin-left: 12px;
  
}
// Hover
.navbar .nav > li > a:hover {
  @include gradient-vertical($navbarLinkBackgHighlightHover, $navbarLinkBackgroundHover);
  text-decoration: none;
  border-bottom: 1px solid $navbarLinkBackgroundHover;
  border-left-color: transparent;
  color: $gray;
}

// Active nav items
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
  color: $gray;
  text-decoration: none;
  @include gradient-vertical($navbarBackground, $navbarBackground);
  border-right-color: transparent;
  border-left-color: transparent;
  box-shadow: none;
  
    //force to overlap its parent, allowing border color change. 
    position: relative;
    bottom: -1px;
    z-index: 100;
    margin-top: -1px;
   
}
//  NAVBAR SIMPLE-NAV
// ------------
.navbar .nav-simple{
  li > a{
    border-width: 0;
    &:hover{
      background-image: none;
      background-color: inherit;
    }
  }
}


// for a less tab like view
.navbar .nav-secondary > li > a{
    border-left: 0;
    padding-left: 18px;
    padding-right: 18px;
    font-size: $navFontSize;
    &:hover{
        background: transparent;
        color: $linkColor;
    }
}
.navbar .nav-secondary .divider-vertical{
     height: $navbarHeight/4;
     margin-top: 17px;
     border-right: 1px solid $white; 
}
// Dividers (basically a vertical hr)
.navbar .divider-vertical {
  height: $navbarHeight;
  width: 1px;
  overflow: hidden;
  background-color: #DFDFDF;
  &:last-child{
    border-right: 1px solid $navbarBackgroundHighlight;
  }

  border-right: none;
  border-left: none;
  margin: 0;
}

// Secondary (floated right) nav in topbar
.navbar .nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
  > li {
    > a {
      padding-right: 5px;
      padding-left: 5px;
    }
    &.dropdown {
      > a {
        padding: 11px 10px 4px;
        &:hover {
          @include gradient-vertical($white, $white)
        }
        > img {
          vertical-align: baseline;
        }
      }
      &:hover,
      &.open,
      &.active,
      &.open.active {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
      &:hover .dropdown-toggle,
      &.open > .dropdown-toggle,
      &.active > .dropdown-toggle,
      &.open.active > .dropdown-toggle {
        border-bottom: none;
        box-shadow: 0 1px 0px $dropdownDividerTop;
      }
    }
    > .dropdown-menu:before,
    > .dropdown-menu:after {
      display: none;
    }
  }
}
/*
.navbar .nav.pull-right > li{
  margin:0 0 0 1.25em;
}
*/
.navbar .nav.pull-right > li.divider-vertical{
  
}
.navbar .nav > li.collapse-horizontal{
  margin-left: 0;
  a{padding-left: 0; padding-right:0;}
}

// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  
  @include buttonBackground($navbarBackgroundHighlight, $navbarBackground);
  @include box-shadow("inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)");
}
.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  @include border-radius(1px);
  @include box-shadow(0 1px 0 rgba(0,0,0,.25));
  
}
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}


// Dropdown menus
// --------------

// Menu position and menu carets
.navbar .dropdown-menu.arrow {
  &:before {
    content: '';
    display: inline-block;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: $dropdownBorder; 
    position: absolute;
    top: -7px;
    left: 9px;
  }
  &:after {
    content: '';
    display: inline-block;
    border-left:   6px solid transparent;
    border-right:  6px solid transparent;
    border-bottom: 6px solid $dropdownBackground;
    position: absolute;
    top: -6px;
    left: 10px;
  }
}
// Menu position and menu caret support for dropups via extra dropup class
.navbar-fixed-bottom .dropdown-menu {
  &:before {
    border-top: 7px solid #ccc;
    border-top-color: $dropdownBorder;
    border-bottom: 0;
    bottom: -7px;
    top: auto;
  }
  &:after {
    border-top: 6px solid $gray;
    border-bottom: 0;
    bottom: -6px;
    top: auto;
  }
}
.navbar .dropdown {
  background-color: $navbarBackground;
  .dropdown-toggle {
    .nav-account-display-name {
      display: inline-block;
      padding: 2px 3px 0 6px;
      vertical-align: top;
    }
    .nav-account-credits {
      display: inline-block;
      padding: 2px 0 0 6px;
      vertical-align: top;
    }
    .nav-icon-caret-down {
      background: url(../img/gengo-navbar/navigation_sprite.png) no-repeat -427px -20px;
      display: inline-block;
      height: 24px;
      width: 12px;
    }
  }
}
.navbar .dropdown-menu {
  border-radius: 0;
  border-top: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin-right: -1px;
  margin-top: 0.5px;
  min-width: 180px;

  > li {
    > span {
      color: #999;
      display: block;
      font-size: 0.8em;
      line-height: 16px;
      text-transform: uppercase;
      white-space: nowrap;
    }
    > a,
    > span {
      padding: 6px 20px;
    }
  }
  .divider {
    margin: 4px 1px;
  }
}
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a {
  @include gradient-vertical($grayLight, $grayLight);
  color: #333;
}



.navbar .nav li.dropdown:hover .dropdown-toggle{
    box-shadow: 6px 0px 10px -7px #888, -6px 0px 10px -7px #888;
}
// Dropdown toggle caret
.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: $white;
  border-bottom-color: $white;
}
.navbar .nav li.dropdown.active .caret {
  @include opacity(100);
}

// Remove background color from open dropdown
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  box-shadow: 6px 0px 10px -7px #888, -6px 0px 10px -7px #888;

}
// Variations

// navbar-light
.navbar-inverse{ 
  
  .navbar-inner{
    background-color: $white;
    background-image: none;
    border: 0px;
  }
  .brand{
    color: $gray;
  }
  .nav > li > a{
    color: $gray;
    &:hover{
      color: $textHoverColor;
    }
  }
  .divider-vertical{
    background-color: #DFDFDF;
    border-color: $white;
  }
  &.navbar-fixed-bottom{
    border-top:1px solid #CCCCCC;
  }
  &.navbar-fixed-bottom{
    @include gradient-vertical(#f7f7f7, #ffffff);
  }
}

// Alternative navbars
// --------------
.navbar-brandbar{
  .navbar-inner{
    @include gradient-vertical(#24AD81,  #24AD81);
    border-bottom: #1C926D;
    li a{
      color: $white;
      text-shadow: none;
    }
  }

}

.navbar .breadcrumb{
  padding: 0;
  li {
    margin:0;
    position: relative;
    a{
       background: #24AD81 url(./img/navbar-crumb-back.png) no-repeat 100% 100%;
       border-width: 0;
       &:hover{
        background: #24AD81 url(./img/navbar-crumb-back.png) no-repeat 100% 100%;
       }
      &.active{
        background-position: 100% 0%;
        background-color: #209F77;
         &:hover{
          color: $white;
         }
      }
      &.inactive{
        color: #A7DECD;
      }
      :first-child{
        border-left: #1F936E;
      }
    }
  }
 
}
/*
// Dropdown link on hover
.navbar .nav li.dropdown.active > .dropdown-toggle:ho
*/
.navbar {
  .brand {
    padding: 0 24px;
    img {
      margin: 0;
    }
  }
  .nav {
    li[class^="nav-icon-"],
    li[class*=" nav-icon-"] {
      margin-right: 20px;
      a {
        min-height: 19px;
        min-width: 19px;
      }
    }
    > li.nav-icon-order > a {
      background: url(./img/gengo-navbar/navigation_sprite.png) no-repeat -286px -9px;
    }
    > li.nav-icon-notifications { margin-right: 10px; }
    > li.nav-icon-notifications > a {
      @include transition(none);
      background: url(./img/gengo-navbar/navigation_sprite.png) no-repeat -135px -10px;
    }
    > li.nav-icon-search > a {
      background: url(./img/gengo-navbar/navigation_sprite.png) no-repeat -209px -9px;
    }
  }
  .dropdown-menu {
    > li > a.active {
      padding-left: 17px;
      @include gradient-vertical($white, $white);
    }
  }
}
.navbar .navbar-personal {
  .brand {
    background: $green url(./img/gengo-navbar/navigation_sprite.png) no-repeat -5px -7px;
    box-shadow: 0 1px 0 $greenHover;
    width: 59px;
    &:hover {
      background-color: $greenHover;
    }
  }
  .nav {
    .divider-vertical.brand-color {
      background-color: $greenDivider;
      box-shadow: 0 1px 0 $greenHover;
    }
    > .active {
      a, a:hover, a:focus {
        border-bottom: 2px solid $green;
      }
    }
    > li.nav-icon-order:hover > a {
      background-position: -286px -59px;
    }
    > li.nav-icon-notifications:hover > a {
      background-position: -135px -60px;
    }
    > li.nav-icon-search:hover > a {
      background-position: -209px -59px;
    }
  }
  .dropdown-menu {
    > li > a.active {
      border-left: 3px solid $green;
    }
  }
}
.navbar .navbar-translator {
  .brand {
    background: $lightBlue url(./img/gengo-navbar/navigation_sprite.png) no-repeat -5px -59px;
    box-shadow: 0 1px 0 $lightBlueHover;
    width: 26px;
    &:hover {
      background-color: $lightBlueHover;
    }
  }
  .nav {
    .divider-vertical.brand-color {
      background-color: $lightBlueDivider;
      box-shadow: 0 1px 0 $lightBlueHover;
    }
    > .active {
      a, a:hover, a:focus {
        border-bottom: 2px solid $lightBlue;
      }
    }
    > li.nav-icon-order:hover > a {
      background-position: -286px -108px;
    }
    > li.nav-icon-notifications:hover > a {
      background-position: -135px -109px;
    }
    > li.nav-icon-search:hover > a {
      background-position: -209px -108px;
    }
  }
  .dropdown-menu {
    > li > a.active {
      border-left: 3px solid $lightBlue;
    }
  }
}
