// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------

// Base Colours
// -------------------------
$green:                 #1CAD7E;
$gray:            		#4C4643;
$lightBlue:             #98D7CC;
$red:                  	#EA5E47;
$yellowGreen:           #C3EA94;
$mossGreen:           	#AEDBB3;
$cream:                 #F1F2C8;
$white: 		        #FFFFFF;

// UI colors
// -------------------------
$grayLighter: 			#F9F9F9;
$grayLight:  			#F4F4F4;
$grayMid: 				#ECECEC;
$grayDarker: 			#DDDDDD;
$grayDark: 				#DDDDDD;

$greenHover:            #06A073;
$greenDivider:          #1BA478;
$lightBlueHover:        #8AC6BC;
$lightBlueDivider:      #90CCC2;

// Scaffolding
// -------------------------
$bodyBackground:        $grayLighter;
$textColor:            	$gray;


// Links
// -------------------------
$linkColor:             $green;
$linkColorHover:        darken($linkColor, 15%);


// Typography
// -------------------------
$sansFontFamily:        "Open Sans", sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          14px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        24px;
$altFontFamily:         $serifFontFamily;
$UIFontSize:			14px;
$navFontSize:           13px;

$headingsFontFamily:    inherit; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    600;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor


// Tables
// -------------------------  
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #F9F9F9; // for striping
$tableBackgroundHover:              #EFEFEF; // for hover
$tableBorder:                       #DDDDDD; // table and cell border


// Buttons
// -------------------------
$btnBackground:                     #FCFCFC;
$btnBackgroundHighlight:           	#FCFCFC;
$btnBorder:                         #DDDDDD;

$btnPrimaryBackground:              #33B58B;
$btnPrimaryBackgroundHighlight:     #199C72;

$btnCoreBackground:             	#ec6e59;
$btnCoreBackgroundHighlight:     	#D35540;

$btnWorkerBackground:               #33B58B;
$btnWorkerBackgroundHighlight:      #1A9C72;

$btnAltBackground:                  #B5D68E;
$btnAltBackgroundHighlight:         #9DBD76;

$btnGoogleBackgound:				#59595A;
$btnGoogleBackgroundHighlight:		#676768;

$btnFacebookBackgound:				#315284;
$btnFacebookBackgroundHighlight:	#416193;

// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #D9D9D9;
$inputBorderRadius:             3px;
$inputDisabledBackground:       $grayLighter;
$formActionsBackground:         #f5f5f5;
$inputFocus:					#C3EA94;
$inputHeight:                   $baseLineHeight + 10px; 

// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownLinkColor:             $grayMid;
$dropdownLinkColorHover:        $white;
$dropdownLinkBackgroundHover:   $linkColor;
$dropdownDividerTop:            #dfdfdf;
$dropdownDividerBottom:         $white;


// Tooltips and popovers
// -------------------------
$tooltipColor:            #fff;
$tooltipBackground:       #000;
$tooltipArrowWidth:       5px;
$tooltipArrowColor:       $tooltipBackground;

$popoverBackground:       #fff;
$popoverArrowWidth:       10px;
$popoverArrowColor:       #fff;
$popoverTitleBackground:  darken($popoverBackground, 3%);

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1;
$popoverArrowOuterColor:  rgba(0,0,0,.25);



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000;
$zindexPopover:           1010;
$zindexTooltip:           1020;
$zindexFixedNavbar:       1030;
$zindexModalBackdrop:     1040;
$zindexModal:             1050;


// Sprite icons path
// -------------------------
$iconSpritePath:          "../img/glyphicons-halflings.png";
$iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";

// footer 
// -------------------------
$footerHeight:         90px;
$footerBackground:     #ECECEC;

// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight;


// Hr border color
// -------------------------
$hrBorder:                $grayDark;


// Navbar
// -------------------------
$navbarHeight:                    44px;
$navbarBackground:                $white;
$navbarBackgroundHighlight:       $white;
$navbarInverseBackHiglight:       $grayDark;
$navbarInverseBackground:		  $gray;


$navbarText:                      $gray;
$navbarLinkColor:                 $gray;
$navbarLinkColorHover:            $grayMid;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       $grayLight;
$navbarLinkBackgHighlightHover:   $grayLight;
$navbarLinkBackgroundActive:      $white;

$navbarSearchBackground:          lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus:     $inputBorder;
$navbarSearchBorder:              $inputBorder;
$navbarSearchPlaceholderColor:    #ccc;
$navbarBrandColor: 				  $white;

$navbaSubnavBackground:   		  #7A7672; 

// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            inherit;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             #c09853;
$warningBackground:       #fcf8e3;
$warningBorder:           darken($warningBackground, 3%) !default;

$errorText:               $red;
$errorBackground:         #f2dede;
$errorBorder:             $red;

$successText:             #468847;
$successBackground:       #dff0d8;
$successBorder:           darken($successBackground, 5%) !default;

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
$infoBorder:              darken($infoBackground, 7%) !default;



// GRID
// --------------------------------------------------

// Default 940px grid
// -------------------------
$gridColumns:             12;
$gridColumnWidth:         54px;
$gridGutterWidth:         36px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// 1200px min
$gridColumnWidth1200:     54px !default;
$gridGutterWidth1200:     36px !default;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1)) !default;

// 768px-979px
$gridColumnWidth768:      54px !default;
$gridGutterWidth768:      36px !default;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1)) !default;


// Fluid grid
// -------------------------
$fluidGridColumnWidth:    5.277777778%;
$fluidGridGutterWidth:    3.33333333%;

// List background color
$normalBackground:         #F6F6F6;
$normalHoverBackground:    #EDEDED;
$normalBorder:             #F1F1F0;
$normalHoverBorder:        #E4E4E4;

$availableBackground:      #E5F5F2;
$availableHoverBackground: #CDEBE6;
$availableBorder:          #CBEBE5;
$availableHoverBorder:     #9CD9CE;

$reviewableBackground:      #F0FAE4;
$reviewableHoverBackground: #E2F8C6;
$reviewableBorder:          #E1F4C9;
$reviewableHoverBorder:     #C6EE94;

$rejectedBackground:       #FDEFEC;
$rejectedHoverBackground:  #FCE0D9;
$rejectedBorder:           #FCE7E4;
$rejectedHoverBorder:      #FCD1CB;



